.m-add-table {
  position: absolute;
  bottom: 2px;
  left: 2px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.el-man-avatar  {
  position: relative;
  &:hover {
    .m-remove-table {
      visibility: visible;
    }  
  }
  .m-remove-table {
    visibility: hidden;
    position: absolute;
    top: -10px;
    right: -35px;
    padding: 20px;
    color: white;
  }
}