$base-color: #008C3C; //品牌色
$base-bg-color: #F5F5F5;//背景色
$base-control-bgcolor: #F5F5F5;//控件背景色

$warn-color: #FF9500; //警告色
$error-color: #F7534F;//出错色
$success-color: #00CCAA; //成功色
$info-color: #007AFF; //信息色

$link-color: #519bec; //超链接颜色

$gay-color-one: #222222; //一级灰色
$gay-color-two: #666666; //二级灰色
$gay-color-three: #999999; //三级灰色
$gay-color-four: #CCCCCC; //四级灰色

$border-color-normal: #EEEEEE; //内容分割线
$border-color-plus: #DDDDDD; //深色分割线

$fontSizeNormal: 14px;
$fontSizeSmall: 12px;
$fontSizeBig: 20px;
$fontSizeMiddle: 16px;
